<h1>Shoe Categories:</h1>
<br>
{{#if categories}}
<div class="root">
    <div class="container">
    {{#each categories}}
    <div class="card" style="width: 18rem;">

        <div class="card-body">
            <h5 class="card-title">{{this.name}}</h5>
            
            <a href="/category/{{this._id}}" class="btn btn-primary">View category</a>
        </div>
    </div>
    {{/each}}
    </div>
</div>
{{else}}
    <div class="container">
        <div class="card">
            <h3> No categories currently - please try back later!</h3>
        </div>
    </div>
{{/if}}