<form method="POST" action="/login" style={
    "text-align: center;
  
  padding-right: 500px;
  padding-left: 500px;
  padding-top: 100px;
  padding-bottom: 100px;"
}>
           
    <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
    <div class="sneaker_form">
        <div class="form-floating">
            <input type="text" class="form-control" id="username" name="username" placeholder="name@example.com">
            <label for="floatingInput">Username</label>
        </div>
        <br/>
        <div class="form-floating">
            <input type="password" class="form-control" id="password" name="password" placeholder="Password">
            <label for="floatingPassword">Password</label>
        </div>  
        <br/>
        {{#if errors}}
            {{#each errors}}
                
                <div class="alert alert-danger" role="alert">
                    {{this.msg}}
                </div>
            {{/each}}
            <br/>
        {{/if}}
        
        <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
    </div>
    
    
    
            
</form>