<div>
    <h3> You must be logged in to access this page!</h3>
    <h4> If you're already registered, please <a href="/login">login</a>!</h4>
    <h4> If you're new here, please <a href="/register">register</a>!</h4>
</div>